#navbar,footer{
    background-color: #001844;
}
.hero{
    background: url('assets/hero-img.png') no-repeat center center/cover; height: 700px;
}

 .content-1{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 60px;
    font-style: normal;
}
.para{
    font-family: "Archivo Narrow", serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-size: 25px;
    font-style: normal;
}
@media screen and (max-width: 1440px){
    #navbar #logo-top{
        width:500px;
        height:auto;
    }

    .hero{
        background: url('assets/hero-img.png') no-repeat center center/cover;width:100%; height: 100%;
  }
 
 
 
}
/* Mobile screen */
@media screen  and (max-width: 500px){
    .hero{
        background: url('assets/hero-img.png') no-repeat center center/cover; width:100%; height: 100%;
  }
 
  #navbar #logo-top{
    width:270px;
    height:auto;
}
.content-1{
    font-size: 33px;
}
.para{
    font-size: 17px;
}
.experiance-1 .content-1{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 35px;
}
    
}